{% extends 'base.html' %}
{% block content %}
<h2>Dashboard</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card p-3">
            <h4>Completed</h4>
            <h2>{{ completed }}</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h4>Pending</h4>
            <h2>{{ pending }}</h2>
        </div>
    </div>
</div>
<br>
<a href="/create-project" class="btn btn-primary">Create Project</a>
<a href="/create-task" class="btn btn-success">Create Task</a>
<a href="/my-tasks" class="btn btn-warning">My Tasks</a>
<hr>
<table class="table table-bordered">
<tr>
    <th>Title</th>
    <th>Status</th>
    <th>Assigned To</th>
</tr>
{% for task in tasks %}
<tr>
    <td>{{ task.title }}</td>
    <td>{{ task.status }}</td>
    <td>{{ task.assigned_to }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}